:root {
  --darkback: #141a48;
  --darkpurple: #56068e;
  --purplegrad:linear-gradient(72deg,#430371,#6a08b0);
  --lightback:#d3d3d3;
  --lightmodetext:#000;
  --darkmodetext:#fff;
  --lightaccent:#bada55;
  --darkaccent:rgb(238, 164, 37);
  --paneltext:#fff;
  --paneltitle:#fff;
  --switchcolor:#fff;
  --headercolor: transparent;
  --stickycolor:#ffffff1e;

}

.pad_sides{
    padding-left: 10px;
    padding-right: 10px;
}

body{
    text-align:center;
    background-color: var(--darkback);
    color: var(--darkmodetext);
    }

h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
}

.subheading{
  margin-top:10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
}

.introtext{
width: 80%;
margin: auto;
margin-top:120px;
margin-bottom:120px;
text-align: left;
padding-top: 60px;
}
 
/* Dark Mode  */

.light{
    background-color: var(--lightback);
    color:var(--lightmodetext);
}

.lighttext{
  color:var(--lightmodetext);
}

input[type=checkbox]{
        height: 10px;
        width: 10px;
        visibility: hidden;
    }
    
label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: var(--darkaccent);
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
label:after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 3px;
        width: 20px;
        height: 20px;
        background: var(--switchcolor);
        border-radius: 20px;
        transition: 0.3s;
    }
    
input:checked + label {
        background: var(--lightaccent);
    }
    
input:checked + label:after {
        left: calc(100% - 2.5px);
        transform: translateX(-100%);
    }
    
label:active:after {
        width: 40px;
    }
    
.upperright{
    position: absolute;
    top: 8px;
    right: -65px;
   }

/* Accordion */

  .wrapper{
    width:60%;
  }

  .panel-design{
/* background-color: rgb(68, 20, 91); */
color: var(--paneltext);
border:0px;
  }
  @media(max-width:992px){
   .wrapper{
    width:85%;
  } 
  }
  .panel-heading {
    padding: 0;
      border:0;
      background-image: var(--purplegrad);
      border-radius: 10px;
  }
  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    color:var(--paneltitle);
    font-size:16px;
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
  }
  .panel-heading  a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
  } 

  .collapse.in {
    display: block;
    background: var(--darkpurple);
    margin-top: 10px;
    border-radius: 10px;
}

.collapsing {
  display: block;
  background: var(--darkpurple);
  margin-top: 10px;
  border-radius: 10px;
}

.panel{
  background-color: transparent;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0px;

}

.panel-group .panel {
  margin-bottom: 10px;
  border-radius: 4px;
}



  /* Style the header */
.header {
    padding: 10px 16px;
    background: var(--headercolor);
    height: 60px;
  }

  .sticky{
    position: fixed;
    top:0;
    width: 100%;
    backdrop-filter: saturate(180%) blur(20px);
    background: var(--stickycolor);
  }

  .sticky + .content {
    padding-top: 300px;
  }
  
.menu{
    position: absolute;
    right: 80px;
}

  .menuitem{
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Inter';

  }


button{
  background-color: transparent;
  border: none;
}

.logo{
  position: absolute;
  left: 20px;
  font-size: 26px;
  letter-spacing: 3px;
}


/* Photo settings */

.companyimage{
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}