:root {
  --darkback: #141a48;
  --panelback: #22295d;
  --panelbacklight:#565656;
  --companylinkback:#3a4280;
  --companylinktext:#fff;
  --compWebLight:#6f6f6f;
  --paneltitleback:#3a4280;
  --paneltitlebacklight:#6f6f6f;
  --portfoliolight:#acacac;
  --lightback:#d3d3d3;
  --lighthover:#5b5b5b;
  --lightmodetext:#000;
  --darkmodetext:#fff;
  --lightaccent:#22295d;
  --darkaccent:#eea425;
  --paneltext:#fff;
  --paneltitle:#fff;
  --switchcolor:#fff;
  --headercolor: transparent;
  --stickycolor:#ffffff1e;

  --cardsectionback: transparent;
  --text-clear: rgba(255, 255, 255, 0);
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgb(255, 255, 255);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  --box-size:  100%;

  --headerphone:12px;
  --headertablet:16px;
  --headerdesktop:22px;
}

.bg-yellow{
  background-color: #eea425;
}

.pad_sides{
    padding-left: 10px;
    padding-right: 10px;
}

body{
    text-align:center;
    background-color: var(--darkback);
    color: var(--darkmodetext);
    font-size: 14px;
    }



    li{
      padding-bottom: 5px;

    }



h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: clamp(3rem, 1.5vw, 7rem);
}

.subheading{
  margin-top:10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
}

.introtext{
width: 80%;
margin: auto;
text-align: left;

}

.viewport1{
  padding-top: 35vh;
  height: 100vh;
}
 
/* Dark Mode  */

.light{
    background-color: var(--lightback);
    color:var(--lightmodetext);
}

.lighttext{
  color:var(--lightmodetext)!important;
}

.lightbutton{
  color:var(--lightmodetext)!important;
}
.lightbutton:hover{
  color:var(--lighthover)!important;
}

input[type=checkbox]{
        height: 10px;
        width: 10px;
        visibility: hidden;
    }
    
label {
        cursor: pointer;
        text-indent: -9999px;
        width: 34px;
        height: 20px;
        background: var(--darkaccent);
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        background: var(--switchcolor);
        border-radius: 20px;
        transition: 0.3s;
    }
    
input:checked + label {
        background: var(--lightaccent);
    }
    
input:checked + label:after {
        left: calc(100% - 2.5px);
        transform: translateX(-100%);
    }
    
label:active:after {
        width: 30px;
    }
 /*   
.upperright{
  position: absolute;
  top: 5px;
  right: -55px;
   }

 Accordion */

  .wrapper{
    width:60%;
  }

  .panel-design{
/* background-color: rgb(68, 20, 91); */
color: var(--paneltext);
border:0px;
  }
  @media(max-width:992px){
   .wrapper{
    width:85%;
  } 
  }
  .panel-heading {
    padding: 0;
      border:0;
      background: var(--paneltitleback);
      border-radius: 10px;
  }
  .panelheadlight{
    background: var(--paneltitlebacklight);
  }
  
  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    color:var(--paneltitle);
    font-size:clamp(1rem,1.5vw,1.3rem);
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
  }
  /*.panel-heading  a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
     float: right;
     transition: all 0.5s;
  }*/
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
  } 

  .collapse.in {
    display: block;
    background: var(--panelback);
    margin-top: 10px;
    border-radius: 10px;
}
.panelbacklight{
background: var(--panelbacklight) !important;
}
.collapsing {
  display: block;
  background: var(--panelback);
  margin-top: 10px;
  border-radius: 10px;
}

.panel{
  background-color: transparent;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0px;

}

.panel-group .panel {
  margin-bottom: 10px;
  border-radius: 4px;
}



  /* Style the header */
  
.header {
    padding: 15px 16px;
    background: var(--headercolor);
    height: 60px;
  }

  .sticky{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 5;
    backdrop-filter: saturate(180%) blur(20px);
    background: var(--stickycolor);
  }

  .sticky + .content {
    padding-top: 300px;
  }
  
 .careeranchor{
margin-top:-250px
  }



.menu{
    position: absolute;
    right: 80px;
}

.headergrid{
display: grid;
grid-template-columns: 25% auto 60px 60px 60px 45px;
align-items: center;
justify-items: start;
}


  .menuitem{
    font-size: var(--headerphone);
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Inter';
    color: var(--darkmodetext);
    letter-spacing: 2px;
  }

  .logoitem{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: left;
  }

  .menuitem1{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
  }
  .menuitem2{
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;

  }
  .menuitem3{
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;

  }
  .switchitem{
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
margin-top: -15px;
  }

  .menuitem:hover{
    text-decoration: none;
    color:var(--darkaccent)
  }

  .menuitem:active{
    text-decoration: none;
    color:var(--darkaccent)
  }

  .menuitem:visited{
    text-decoration: none;
  }

  .menuitem:focus{
    text-decoration: none;
  }



button{
  background-color: transparent;
  border: none;
}

.logo{
  font-size: var(--headerphone);
  letter-spacing: 3px;
  text-decoration: none;
  color:var(--darkmodetext);
}
.logo:hover{
  text-decoration: none;
  color:var(--darkaccent);
}



/* Photo settings */

.companyimage{
  width: 100%;
  border-radius: 26px;
}

.jobdescription{
  margin-top: 6px;
  margin-left: 193px;
  margin-right: 10px;
  text-align: left;
}

.titlegrid{
  grid-template-columns: auto 62px 50px auto 5%;
  width: 100%;
  display: grid;
  align-items: center;
  }

.jobtitle{
  text-align: left;
  justify-self: start;
  float: left;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.companyname{
  text-align: left;
  justify-self: start;
font-weight: 200;
padding-top: 2px;
grid-column: 1 / span 3;
grid-row: 2 / span 1;
}

.jobdate{
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
justify-self: end;
}

.plusitem{
  grid-column: 5 / span 1;
  grid-row: 1 / span 2;
  justify-self: end;
}

.panelgrid{
  grid-template-columns: 25% auto;
  width: 100%;
  display: grid;
  align-items: center;
}

.imageitem{
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
justify-self: start;
align-self: start;
padding-right: 20px;
}
.descriptionitem{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
justify-self: start;
text-align: left;
padding-bottom: 20px;
padding-left: 10px;
}
.websiteitem{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
justify-self: start;
}




.descriptiontext{
margin-bottom:15px;
}

.companywebsite{
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--companylinkback);
  padding: 5px 10px 5px 10px;
  width: 175px;
  text-align: center;
  text-decoration: none;
  color: var(--paneltext);
  margin-right: 10px;
}

.companywebsitelight{
  background-color: var(--compWebLight);
}

.companywebsite:hover{
  color: var(--companylinktext);
text-decoration: none;
}

.companywebsite:active{
  color: var(--companylinktext);
text-decoration: none;
}

.companywebsite:visited{
  color: var(--companylinktext);
text-decoration: none;
}

.companywebsite:link{
  color: var(--companylinktext);
text-decoration: none;
}

.link-icon{
  padding-right:5px;
}

/* Career Section */

.careerSection{
  width:80%;
  margin: auto;
  text-align: left;
  margin-top: 200px;
}


/* Portfolio Section */

.portfolioSection{
  width:80%;
  margin: auto;
  text-align: left;
  margin-top: 100px;
}

.wrapper + .portfolioSection{
  margin-top: 200px;
}

.portfolioSection:not(:has(+ .portfolioSection)) {
  padding-bottom: 100px;
}

.cont2 > p{
  border-top: 1px;
  border-color: #fff;
  border-style: solid;
  padding-top: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}
/* Scroll Icon */

.scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 1.2em;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 2em;
  border: solid 2px;
  transition: 0.4s;
  margin: auto;
  margin-top: 25vh;
}



.scroll-icon:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.scroll-icon::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  z-index:1;
  border-radius: 50%;
  -webkit-animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@-webkit-keyframes scroll-icon {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

@keyframes scroll-icon {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}



/*  Cards   */


*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background: var(--cardsectionback);
  display: flex;
  min-height: 50px;
  justify-content: center;
  padding: 20px 0px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
  /* .panel-title>a, .panel-title>a:active{
    font-size: 14px;
  } */
  .menuitem{
    font-size:var(--headertablet);
  }
  .logo{
    font-size:var(--headertablet);
  }
  .headergrid{
    grid-template-columns: 25% auto 80px 80px 80px 45px;
    }

    .card__text{
      color: var(--text-lighter);
    }

}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
  /* .panel-title>a, .panel-title>a:active{
    font-size: 16px;
  } */
  .menuitem{
    font-size:var(--headerdesktop);
  }
  .logo{
    font-size:var(--headerdesktop);
  }
  .headergrid{
    grid-template-columns: 25% auto 100px 100px 100px 45px;
    }
    .card__background{
      color:var(--text-clear);
    }
    .card__text{
      color: var(--text-clear) !important;
    }
    .card__text:hover{
      color: var(--text-lighter) !important;
      text-shadow: 3px 3px 5px #000000;
    }

}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: var(--box-size);
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  color: var(--text-clear);
  font-size: 30px;
  padding: 30% 10%;
z-index: 1;
  filter: brightness(0.7) saturate(1.2) contrast(0.8);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card__text{
  display: grid;
  font-family: 'Inter';
    font-weight: 700;
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  color: var(--text-lighter);
  font-size: 24px;
  padding: 0 10px;
z-index: 2;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
  
}

.centeredtext{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.card__text:hover{
  color: var(--text-lighter);
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(4px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 18%;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  text-align: left;
}

/* Icon Bar */
.icons{
  display: grid;
  grid-template-columns: 20px auto ;
  grid-template-rows: auto;
  align-items: center;

  background-color: var(--paneltitle);
  position: fixed;
  bottom: 25px;
  right: -100px;
padding-right: 100px;
border-radius: 16px;
color: #000;
font-size: 25px;
letter-spacing: 10px;
z-index: 4;
}

.slideout{
right: -135px !important;

}

.slidearrowbase{
padding-left: 5px;
}


.slidearrow{
  rotate: 180deg;
  margin-left: -5px;
}


.socialslider{
grid-column: 1 / span 1;
grid-row: 1 / span 6;
padding: 300% 0;
}

.darkicons{
  color: var(--darkback);
}

.darkicons:hover{
  color: var(--darkaccent);
  }

.lighticons{
  color: var(--lighthover) !important;
  }
  .lighticons:hover{
    color: var(--lightmodetext) !important;
    }


.icon1{
grid-column: 2 / span 1;
grid-row: 1 / span 1;
padding:5px 0;
}


.icon2{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding:5px 0;
}


.icon3{
grid-column: 2 / span 1;
grid-row: 3 / span 1;
padding:5px 0;
}


.icon4{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  padding:5px 0;
}

.icon5{
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  padding:5px 0;
}

.icon6{
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  padding:5px 0;
}

/* Model Section */




.threejscontainer{
  width: 100%;
  height: 100%;
  
    }
  
    canvas{
      outline: none;
  border:none;
    }
  
    .modelgrid{
  display:grid;
  grid-template-columns: 50% auto;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  padding-bottom: 20px;
    }
  
  
  .sectionback{
    width: 80%;
  margin: 50px auto 0px auto;
  background-color: var(--panelback);
  border-radius: 13px;
  }
  
    .lightportfolio{
      background-color: var(--portfoliolight);
    }
  
    .lightcont2{
    border-color: #000 !important;
    }
  
    .cont1{
      grid-column: 1 / span 1;
      grid-row: 1 / span 4;
    }
    .cont2{
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      padding: 0 20px;
      text-align: left;
      justify-self: start;
    }
  
    .cont3{
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      padding: 0 20px;
      text-align: left;
      align-self: start;
      margin-bottom: -22px;
    }
  
    .cont4{
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      padding: 0 20px;
      justify-self: start;
      text-align: left;
      align-self: start;
    }
  
    .cont5{
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
      padding: 0 20px;
      justify-self: start;
    }
  
    h3{
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 5px !important;
  
      font-family: 'Inter' !important;
      font-weight: 600 !important;
      font-size: 20px !important;
    }
  
    .gallerygrid{
      display:grid;
      grid-template-columns: 25% 25% 25% 25%;
      align-items: center;
      justify-items: center;
  
  
    }
  
    .img1{
      grid-column: 1 / span 1;
      grid-row: 1 / span 3;
    }
  
  .gallerybox{
    margin-top: 20px !important;
    padding:20px 10px;
  }
  
  .gallerytitle{
  width: 90%;
  text-align: left;
  margin: auto;
  padding:0px 10px;
  }
  
  
  
  /* Gallery */
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 8px;
    opacity: .85;
    cursor: pointer;
    height: 200px;
  }
  .gallery-item:hover {
    opacity: 1;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .gallery-content {
    font-size: .8em;
  }
  
  .lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
  }
  .lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 10% auto;
  }
  .lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    height: 100%;
    object-fit: fill;
  }
  .lightbox-prev,
  .lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
    font-size: 50px !important
  }
  .lightbox-prev {
    left: 0;
  }
  .lightbox-next {
    right: 0;
  }
  .lightbox-prev:hover,
  .lightbox-next:hover {
    opacity: .8;
  }
  
  @media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }
    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
  }
  @media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
  }
  
  
  .spacer{
    height: 20px;
  }
  
  .iconspacer{
  padding-right: 2px;
  }