:root {
  --darkback: #141a48;
  --panelback: #22295d;
  --panelbacklight:#565656;
  --companylinkback:#3a4280;
  --companylinktext:#fff;
  --compWebLight:#6f6f6f;
  --paneltitleback:#3a4280;
  --paneltitlebacklight:#6f6f6f;
  --lightback:#d3d3d3;
  --lighthover:#5b5b5b;
  --lightmodetext:#000;
  --darkmodetext:#fff;
  --lightaccent:#22295d;
  --darkaccent:#eea425;
  --paneltext:#fff;
  --paneltitle:#fff;
  --switchcolor:#fff;
  --headercolor: transparent;
  --stickycolor:#ffffff1e;

  --cardsectionback: transparent;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  --box-size:  100%;

}

.bg-yellow{
  background-color: #eea425;
}

.pad_sides{
    padding-left: 10px;
    padding-right: 10px;
}

body{
    text-align:center;
    background-color: var(--darkback);
    color: var(--darkmodetext);
    }

h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
}

.subheading{
  margin-top:10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
}

.introtext{
width: 80%;
margin: auto;
text-align: left;

}

.viewport1{
  padding-top: 35vh;
  height: 100vh;
}
 
/* Dark Mode  */

.light{
    background-color: var(--lightback);
    color:var(--lightmodetext);
}

.lighttext{
  color:var(--lightmodetext)!important;
}

.lightbutton{
  color:var(--lightmodetext)!important;
}
.lightbutton:hover{
  color:var(--lighthover)!important;
}

input[type=checkbox]{
        height: 10px;
        width: 10px;
        visibility: hidden;
    }
    
label {
        cursor: pointer;
        text-indent: -9999px;
        width: 34px;
        height: 20px;
        background: var(--darkaccent);
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        background: var(--switchcolor);
        border-radius: 20px;
        transition: 0.3s;
    }
    
input:checked + label {
        background: var(--lightaccent);
    }
    
input:checked + label:after {
        left: calc(100% - 2.5px);
        transform: translateX(-100%);
    }
    
label:active:after {
        width: 30px;
    }
    
.upperright{
  position: absolute;
  top: 5px;
  right: -55px;
   }

/* Accordion */

  .wrapper{
    width:60%;
  }

  .panel-design{
/* background-color: rgb(68, 20, 91); */
color: var(--paneltext);
border:0px;
  }
  @media(max-width:992px){
   .wrapper{
    width:85%;
  } 
  }
  .panel-heading {
    padding: 0;
      border:0;
      background: var(--paneltitleback);
      border-radius: 10px;
  }
  .panelheadlight{
    background: var(--paneltitlebacklight);
  }

  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    color:var(--paneltitle);
    font-size:16px;
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
  }
  .panel-heading  a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
  } 

  .collapse.in {
    display: block;
    background: var(--panelback);
    margin-top: 10px;
    border-radius: 10px;
}
.panelbacklight{
background: var(--panelbacklight) !important;
}
.collapsing {
  display: block;
  background: var(--panelback);
  margin-top: 10px;
  border-radius: 10px;
}

.panel{
  background-color: transparent;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0px;

}

.panel-group .panel {
  margin-bottom: 10px;
  border-radius: 4px;
}



  /* Style the header */
.header {
    padding: 15px 16px;
    background: var(--headercolor);
    height: 60px;
  }

  .sticky{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
    backdrop-filter: saturate(180%) blur(20px);
    background: var(--stickycolor);
  }

  .sticky + .content {
    padding-top: 300px;
  }
  
.menu{
    position: absolute;
    right: 80px;
}

  .menuitem{
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Inter';
    color: var(--darkmodetext);
    letter-spacing: 2px;

  }

  .menuitem:hover{
    text-decoration: none;
    color:var(--darkaccent)
  }

  .menuitem:active{
    text-decoration: none;
    color:var(--darkaccent)
  }

  .menuitem:visited{
    text-decoration: none;
  }

  .menuitem:focus{
    text-decoration: none;
  }



button{
  background-color: transparent;
  border: none;
}

.logo{
  position: absolute;
  left: 20px;
  font-size: 22px;
  letter-spacing: 3px;
  text-decoration: none;
  color:var(--darkmodetext);
}
.logo:hover{
  text-decoration: none;
  color:var(--darkaccent);
}



/* Photo settings */

.companyimage{
  width: 150px;
  padding: 10px;
  border-radius: 26px;
}

.jobdescription{
  margin-top: 6px;
  margin-left: 193px;
  margin-right: 10px;
  text-align: left;
}

.jobtitle{
  text-align: left;
  padding-left: 20px;
  float: left;
}

.jobdate{
  text-align: right;
  padding-right: 35px;
}

.descriptiontext{
margin-bottom:15px;
}

.companywebsite{
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--companylinkback);
  padding: 5px 10px 5px 10px;
  width: 175px;
  text-align: center;
  text-decoration: none;
  color: var(--paneltext);
}

.companywebsitelight{
  background-color: var(--compWebLight);
}

.companywebsite:hover{
  color: var(--companylinktext);
text-decoration: none;
}

.companywebsite:active{
  color: var(--companylinktext);
text-decoration: none;
}

.companywebsite:visited{
  color: var(--companylinktext);
text-decoration: none;
}

.companywebsite:link{
  color: var(--companylinktext);
text-decoration: none;
}

.link-icon{
  padding-right:5px;
}

/* Career Section */

.careerSection{
  width:80%;
  margin: auto;
  text-align: left;
  margin-top: 200px;
}

.careerHead{

}
/* Dev Section */

.devSection{
  width:80%;
  margin: auto;
  text-align: left;
  margin-top: 200px;
}

.devHead{

}

/* Proj Section */

.projSection{
  width:80%;
  margin: auto;
  text-align: left;
  margin-top: 100px;

}

.projHead{

}


/* Scroll Icon */

.scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 1.2em;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 2em;
  border: solid 2px;
  transition: 0.4s;
  margin: auto;
  margin-top: 25vh;
}



.scroll-icon:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.scroll-icon::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  z-index:1;
  border-radius: 50%;
  -webkit-animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@-webkit-keyframes scroll-icon {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

@keyframes scroll-icon {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}



/*  Cards   */


*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background: var(--cardsectionback);
  display: flex;
  min-height: 50px;
  justify-content: center;
  padding: 20px 0px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: var(--box-size);
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.6) saturate(1.2) contrast(0.7);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(4px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 18%;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  text-align: left;
}